.admin-estimates {
  padding-bottom: 30px;

  &__sort {
    @include flex-column(8);

    .select {
      background-color: rgba($gray15, 0.14);
      padding: 10px;
      border-radius: 5px;
      max-width: max-content;
      font-size: 14px;
    }
  }

  &__control {
    display: flex;
    max-width: max-content;
    font-size: 16px;
    transition: color .4s, opacity .4s;

    &.red {
      color: #e31f41;

      &:hover {
        color: $black500;
      }

      &:focus {
        color: #e31f41;
        opacity: .5;
      }
    }
  }

  &__empty {
    margin: 50px auto 0;
    text-align: center;
    max-width: 240px;
  }

  &__list {
    margin-top: 50px;
    display: grid;
    grid-gap: 30px 20px;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 890px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    @include flex-column(10);
    gap: 20px;
    border: 1px solid rgba($black500, .3);
    border-radius: 12px;
    padding: 25px;
  }

  &__main {
    @include flex-column(14);
    p {
      display: flex;
      gap: 5px;
    }
  }

  &__link {
    color: $blue35;
    padding-bottom: 3px;
    border: 1px solid transparent;
    transition: color .4s, border .4s;

    &:hover {
      border-bottom-color: $blue35;
    }

    &:focus {
      border-color: $blue35;
    }
  }

  &__left {
    max-width: 800px;
  }

  &__top {
    @include flex-align-center(17);
    margin-bottom: 20px;

    img {
      @include objectCoverBg;
      border-radius: 50%;
    }
  }

  &__date {
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__phone {
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__content {
    line-height: 1.5;
    margin-bottom: 25px;
  }

  &__actions {
    @include flex-align-center(20);
  }

  &__action {
    display: flex;
    max-width: max-content;
    position: relative;
    border: 1px solid transparent;
    transition: border .4s;

    &:hover {
      &::before {
        width: 100%;
      }
    }

    &::before {
      @include pseudo;
      bottom: -2px;
      left: 1px;
      width: 0;
      height: 1px;
      transition: width .5s, opacity .4s;
      background-color: transparent;
    }
  }
}