.admin-feedback {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @media (max-width: 830px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    @include flex-column(13);
    border: 1px solid rgba($black500, .3);
    border-radius: 12px;
    padding: 25px;

    a {
      color: $blue35;
      padding-bottom: 3px;
      border: 1px solid transparent;
      transition: color .4s, border .4s;

      &:hover {
        border-bottom-color: $blue35;
      }

      &:focus {
        border-color: $blue35;
      }
    }
  }

  &__delete {
    display: flex;
    max-width: max-content;
    color: #ff1515;
    margin-bottom: 6px;
    position: relative;
    outline: 1px solid transparent;
    transition: outline-color .4s;

    &:hover {
      &::before {
        width: 100%;
      }
    }

    &:focus {
      outline-color: #ff1515;

      &::before {
        opacity: 0;
      }
    }

    &::before {
      @include pseudo;
      bottom: -2px;
      left: 1px;
      width: 0;
      height: 1px;
      transition: width .5s, opacity .4s;
      background-color: #ff1515;
    }
  }
}