.admin-reviews {
  padding-bottom: 30px;

  &__control {
    display: flex;
    max-width: max-content;
    font-size: 18px;
    margin-bottom: 20px;
    transition: color .4s, opacity .4s;

    &.green {
      color: #2db41c;

      &:hover {
        color: $black500;
      }

      &:focus {
        color: #2db41c;
        opacity: .5;
      }
    }

    &.red {
      color: #e31f41;

      &:hover {
        color: $black500;
      }

      &:focus {
        color: #e31f41;
        opacity: .5;
      }
    }
  }

  &__empty {
    margin: 50px auto 0;
    text-align: center;
    max-width: 240px;
  }

  &__list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    gap: 30px;

    &:not(:last-child) {
      border-bottom: 1px solid $gray500;
    }
  }

  &__link {
    color: $blue35;
    padding-bottom: 3px;
    border: 1px solid transparent;
    transition: color .4s, border .4s;

    &:hover {
      border-bottom-color: $blue35;
    }

    &:focus {
      border-color: $blue35;
    }
  }

  &__left {
    max-width: 800px;
  }

  &__top {
    @include flex-align-center(17);
    margin-bottom: 20px;

    img {
      @include objectCoverBg;
      border-radius: 50%;
    }
  }

  &__date {
    margin-bottom: 10px;
  }

  &__phone {
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__content {
    line-height: 1.5;
    margin-bottom: 25px;
  }

  &__actions {
    @include flex-align-center(20);
  }

  &__action {
    display: flex;
    max-width: max-content;
    position: relative;
    border: 1px solid transparent;
    transition: border .4s;

    &:hover {
      &::before {
        width: 100%;
      }
    }

    &::before {
      @include pseudo;
      bottom: -2px;
      left: 1px;
      width: 0;
      height: 1px;
      transition: width .5s, opacity .4s;
      background-color: transparent;
    }
  }

  &__delete {
    color: #ff1515;

    &::before {
      background-color: #ff1515;
    }

    &:focus {
      border-color: #ff1515;

      &::before {
        opacity: 0;
      }
    }
  }

  &__complete {
    color: #2db41c;

    &::before {
      background-color: #2db41c;
    }

    &:focus {
      border-color: #2db41c;

      &::before {
        opacity: 0;
      }
    }
  }

  &__photo {
    display: flex;
    overflow: hidden;
    border: 2px solid transparent;
    transition: opacity .4s, border .4s;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    &:focus {
      border-color: $accent;
    }

    img {
      @include objectCoverBg;
      transition: transform .4s;
    }
  }
}