@import "manage_feedback_requests";
@import "manage_reviews";
@import "manage_estimates";
@import "manage_works";
@import "manage_articles";

.admin {
  &__bottom {
    padding-bottom: 20px;
  }

  &__title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}