.faq {
  padding-bottom: 30px;

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    @include flex-column(36);
    max-width: 1000px;
  }

  &__item {
    &:not(:last-child) {
      padding-bottom: 12px;
      border-bottom: 1px solid $black500;
    }
  }

  &__head {
    @include flex-between-center-gap(24);
    margin-bottom: 12px;
    cursor: pointer;
    position: relative;
    transition: color .4s;

    &:hover {
      color: $blue35;
    }

    &::before, &::after {
      @include pseudo;
      @include top50;
      right: 0;
      background-color: $accent;
      transition: opacity .3s;
    }

    &::before {
      width: 2px;
      height: 20px;
      right: 9px;
    }

    &::after {
      height: 2px;
      width: 20px;
    }

    &--active {
      &::before {
        opacity: 0;
      }
    }
  }

  &__name {
    font-size: 24px;
    font-weight: 400;
    max-width: 90%;
    line-height: 1.3;
    padding-right: 45px;
    @include r($sm) {
      font-size: 17px;
    }
  }

  &__answer {
    max-height: 0;
    font-size: 18px;
    overflow: hidden;
    line-height: 1.5;
    color: rgba(#000, .5);
    transition: max-height .4s ease-out, margin-bottom .4s ease-out;
  }
}