.feedback {
  position: relative;

  &__img {
    @include objectCoverBg;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100vw - 55%);
    height: 100%;
  }

  &__title {
    font-weight: 300;
    padding-bottom: 0;
    margin-bottom: 30px;

    &::before {
      display: none;
    }
  }

  &__text {
    max-width: 390px;
    margin-bottom: 30px;
    color: rgba($black500, .9);
  }

  &__form {
    max-width: 460px;
  }

  &__list {
    @include flex-column(30);
    margin-bottom: 30px;
  }

  &__btn {
    font-weight: 400;
    margin-bottom: 20px;
    padding: 17px 23px;
  }

  &__privacy {
    font-size: 14px;
    max-width: 390px;

    a {
      color: $accent10;
      padding-bottom: 2px;
      transition: color .4s, border .4s, opacity .4s;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: $accent10;
      }

      &:focus {
        opacity: .5;
      }
    }
  }
}