.reviews {
  padding-bottom: 40px;

  &__title {
    margin-bottom: 35px;
  }

  &__top {
    @include flex-between(20);
    align-items: center;
    margin-bottom: 35px;
    @include r($phone) {
      flex-direction: column;
    }
  }

  &__control {
    @include flex-align-center(15);
    justify-content: flex-end;
  }

  &__btn {
    @include flex-center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid $accent;
    transition: border .4s, opacity .4s, background-color .4s;

    &:disabled {
      opacity: .4;
      user-select: none;
      pointer-events: none;
    }

    &:hover {
      background-color: $accent;

      svg path {
        stroke: $white;
      }
    }

    &:focus {
      background-color: $black500;
      border-color: $black500;

      svg path {
        stroke: $white;
      }
    }

    svg {
      transform: translateX(1px);
    }

    &--prev {
      transform: scale(-1);
    }
  }

  &__link {
    @include flex-align-center(10);
    outline: 1px solid transparent;
    padding: 6px;
    transform: translateX(-6px);
    border-radius: 5px;
    transition: color .4s, border .4s, outline-color .4s, opacity .4s;

    &:hover {
      color: $accent10;

      svg path {
        fill: $accent10;
      }
    }

    &:focus {
      outline-color: $accent10;
    }
  }

  &__swiper {
    cursor: grab;
  }

  .swiper-slide {
    max-width: 912px;
    @include r($desktop) {
      max-width: 860px;
    }
  }

  &__slide {
    display: flex;
    gap: 40px;
    @media (max-width: 895px) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
    @include r($phone) {
      gap: 30px;
    }
  }

  &__content {
    max-width: 352px;
    @media (max-width: 895px) {
      max-width: 660px;
      padding: 0 15px;
    }

    p {
      @include r($phone) {
        font-size: 14px;
      }
    }
  }

  &__img {
    @include objectCoverBg;
    user-select: none;
    @include r($desktop) {
      width: 470px;
    }
    @include r($lg) {
      width: 440px;
      height: 560px;
    }
    @media (max-width: 880px) {
      height: 510px;
      width: 420px;
    }
    @media (max-width: 660px) {
      height: 450px;
      width: 400px;
    }
    @media (max-width: 530px) {
      height: 420px;
    }
  }

  &__user {
    @include flex-align-center(16);
    margin-bottom: 30px;
    @media (max-width: 895px) {
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      margin: 0 auto 20px;
    }
  }

  &__avatar {
    @include objectCoverBg;
    border-radius: 50%;
  }

  &__info {
    @include flex-column(2);
  }

  &__city {
    font-size: 14px;
    color: $accent;
  }
}