.label {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 2px;
  display: block;
  font-weight: 500;
  cursor: pointer;
}

.input {
  padding: 13px 12px 12px 0;
  background-color: transparent;
  border-bottom: 1px solid $black500;
  transition: background-color .4s, border .4s;
  width: 100%;
  color: #000;

  &--textarea {
    resize: none;
    padding-top: 0;
    margin-top: 5px;
    min-height: 90px;
    max-height: 140px;

    &::-webkit-scrollbar {
      width: 3px;
    }
  }

  &:hover, &:focus {
    border-color: $accent;
  }

  &:-webkit-autofill, &:-webkit-autofill:focus {
    -webkit-box-shadow: inset 0 0 0 50px $white;
  }
}

.error {
  color: #d04141;
  display: none;
  margin-bottom: 6px;
  font-size: 14px;

  &--active {
    display: block;
  }

  &--not-bottom {
    margin-bottom: 2px;
  }
}

.password-field {
  position: relative;

  &__btn {
    display: flex;
    position: absolute;
    width: 25px;
    height: 24px;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
    outline: 1px solid transparent;
    transition: outline-color .4s, opacity .4s;
    background-image: url("../../public/static/images/icons/eye-closed.svg");

    &:hover {
      opacity: .6;
    }

    &:focus {
      outline-color: #2a2a2a;
    }

    &.active {
      background-image: url("../../public/static/images/icons/eye-open.svg");
    }
  }
}