.header-admin {
  padding: 24px 0;
  margin-bottom: 45px;
  border-bottom: 1px solid #e7e7e7;

  &__list {
    @include flex-align-center(30);
    margin-left: auto;
    flex-wrap: wrap;
    @include r($lg) {
      grid-gap: 20px;
    }
  }

  &__link {
    position: relative;
    padding-bottom: 3px;
    transition: color .4s;

    &:hover {
      &::before {
        width: 100%;
      }
    }

    &:focus {
      color: $accent;
    }

    &::before {
      @include pseudo;
      bottom: 0;
      left: 1px;
      width: 0;
      height: 1px;
      transition: width .5s;
      background-color: #242424;
    }
  }
}