@import "./password";

.profile {
  margin: 60px 0 30px;
  @include r($desktop) {
    margin: 45px 0 30px;
  }

  &__back {
    @include flex-align-center(12);
    font-size: 18px;
    max-width: max-content;
    color: #83888F;
    transition: color .4s, opacity .4s, border .4s;
    margin-bottom: 35px;
    @include r($lg) {
      font-size: 16px;
      margin-bottom: 25px;
      gap: 10px;
      svg {
        width: auto;
        height: 15px;
      }
    }
    @include r($phone) {
      font-size: 14px;
    }

    &:hover {
      color: $accent;

      svg path {
        stroke: $accent;
      }
    }

    &:focus {
      color: $black500;

      svg {
        transform: translateX(-4px);

        path {
          stroke: $black500;
        }
      }
    }

    svg {
      transition: transform .4s;
    }
  }

  &__admin {
    max-width: 320px;
    width: 100%;
    background-color: #fde4e2;
    color: $black500;
    padding: 16px 20px;
    border-radius: 7px;
    margin-bottom: 32px;
    line-height: 1.5;
    @include r($phone) {
      font-size: 14px;
    }

    a {
      transition: color .4s, border .4s;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;

      &:hover {
        color: $accent10;
      }

      &:focus {
        color: $black500;
        border-bottom-color: $black500;
      }
    }
  }

  &__info {
    position: relative;
    display: flex;
    gap: 48px;
    padding: 50px 40px 40px;
    background-color: $white;
    border-radius: 24px;
    box-shadow: 0 12px 64px -16px rgba(0, 0, 0, 0.12);
    @include r($tablet) {
      padding: 25px 0 40px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 34px;
    }
    @include r($sm) {
      border-radius: 18px;
      box-shadow: none;
      background: #f5f5f5;
    }
    @include r($phone) {
      margin: 0 -15px;
    }
    @media (max-width: 390px) {
      border-radius: 14px;
    }
  }

  &__avatar {
    @include flex-column(28);
    align-items: center;
    max-width: 160px;
    @include r($tablet) {
      max-width: 100%;
      gap: 20px;
    }
    @include r($phone) {
      gap: 16px;
    }
  }

  &__img {
    @include objectCoverBg;
    border-radius: 50%;
    @include r($phone) {
      width: 150px;
      height: 150px;
    }
    @media (max-width: 390px) {
      width: 140px;
      height: 140px;
    }
  }

  &__edit-avatar {
    line-height: 1;
    transition: color .4s, outline-color .4s;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    outline: 2px solid transparent;
    border-radius: 4px;
    @include flex-align-center(10);
    @include r($lg) {
      font-size: 14px;
      svg {
        width: auto;
        height: 20px;
      }
    }

    svg {
      transform: translateY(-1px);
    }

    &:hover {
      color: $accent;

      svg path {
        stroke: $accent;
      }
    }

    &:focus {
      outline-color: $accent;
    }
  }

  &__name {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 52px;
    margin-bottom: 32px;
    @include r($lg) {
      font-size: 36px;
    }
    @include r($tablet) {
      margin-top: 0;
      font-size: 34px;
      margin-bottom: 24px;
    }
    @include r($sm) {
      font-size: 30px;
    }
    @include r($phone) {
      font-size: 28px;
    }
  }

  &__list {
    @include flex-column(16);
    font-weight: 500;
    color: #111111;
    @include r($tablet) {
      align-items: center;
    }
  }

  &__logout {
    transition: color .3s, border .3s;
    padding-bottom: 1px;
    align-self: flex-start;
    border-bottom: 1px solid transparent;
    color: #ff1515;
    margin-bottom: -3px;
    @include r($tablet) {
      margin: 0 auto -4px;
    }

    &:hover {
      color: #af2d26;
    }

    &:focus {
      color: #ff1515;
      border-bottom-color: #ff1515;
    }
  }

  &__edit-data {
    @include flex-align-center(8);
    position: absolute;
    right: 40px;
    top: 42px;
    color: #83888F;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 5px;
    transition: color .4s, border .4s;
    @include r($lg) {
      font-size: 14px;
      top: 24px;
      right: 24px;
    }
    @include r($tablet) {
      position: static;
      order: -1;
      margin-bottom: -20px;
    }

    &:hover {
      color: $accent;

      svg path {
        stroke: $accent;
      }
    }

    &:focus {
      border-color: $accent;
    }
  }
}