@import "./reviews-form";

.reviews-page {
  &__empty {
    @include flex-column(0);
    max-width: 320px;
    margin: 70px auto 0;
    align-items: center;
    text-align: center;
  }

  &__subtext {
    margin-top: 12px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 6px;
  }

  &__info {
    a {
      transition: color .4s, border .4s;
      border-bottom: 1px solid transparent;
      padding-bottom: 1px;
      color: $accent10;

      &:hover {
        color: $black500;
      }

      &:focus {
        color: $black500;
        border-bottom-color: $black500;
      }
    }
  }

  &__link {
    @include flex-align-center(12);
    max-width: max-content;
    margin-bottom: 60px;
    padding: 14px 19px;
    line-height: 1;
    border: 1px solid $black500;
    border-radius: 6px;
    transition: color .4s, border .4s, background-color .4s;
    @include r($lg) {
      margin-bottom: 50px;
      img {
        width: 25px;
        height: 25px;
      }
    }

    &:hover {
      background-color: $black500;
      color: $white;
    }

    &:focus {
      border-color: $accent10;
      color: $black500;
      background-color: rgba($accent10, .1);
    }
  }

  &__noauth {
    margin-bottom: 40px;
    @include r($phone) {
      font-size: 14px;
      margin-bottom: 34px;
    }

    a {
      color: $accent;
      border: 1px solid transparent;
      border-radius: 5px;
      transition: color .4s, border .4s;

      &:hover {
        color: $black500;
      }

      &:focus {
        border-color: $black500;
        color: $black500;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 70px;
    max-width: 1100px;
    margin: 0 auto;
    @media (max-width: 820px) {
      grid-gap: 70px;
    }
  }

  &__item {
    @include flex-between(50);
    @media (max-width: 820px) {
      gap: 35px;
    }
    @include r($tablet) {
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      @include r($tablet) {
        flex-direction: column;
      }
    }

    a {
      max-width: max-content;
      @include r($tablet) {
        max-width: 100%;
        align-self: stretch;
      }
    }
  }

  &__content {
    margin-top: 25px;
    max-width: 530px;
    width: 100%;
    @include r($lg) {
      max-width: 430px;
    }
    @media (max-width: 900px) {
      max-width: 390px;
    }
    @media (max-width: 820px) {
      max-width: 350px;
    }
    @include r($tablet) {
      margin-top: 0;
      max-width: 100%;
    }
  }

  &__top {
    @include flex-align-center(17);
    margin-bottom: 20px;
  }

  &__avatar {
    @include objectCoverBg;
    border-radius: 50%;
  }

  &__name {
    font-size: 18px;
    font-weight: 500;
  }

  &__photo {
    @include objectCoverBg;
    border-radius: 10px;
    margin-bottom: 20px;
    @media (max-width: 1100px) {
      height: 560px;
      width: 450px;
    }
    @include r($lg) {
      height: 510px;
      border-radius: 7px;
    }
    @include r($tablet) {
      margin-bottom: 0;
      max-width: 100%;
      width: 100%;
      height: 460px;
    }
    @media (max-width: 560px) {
      height: 420px;
    }
    @media (max-width: 500px) {
      height: 390px;
    }
    @include r($phone) {
      height: 360px;
    }
    @media (max-width: 390px) {
      height: 340px;
      border-radius: 5px;
    }
  }

  &__comment {
    line-height: 1.5;
  }
}